@import '~@src/assets/styles';

$deprecation-bar-color: linear-gradient(90deg, #6EC005 0%, #A9E301 24.84%, #F1CE18 50.31%, #FF7A00 75.77%, #E70000 100.31%);

.progress > div > div {
  background-color: $color-neutral-neutral-6;
}

.progress {
  max-width: 144px;
  display: flex;
  align-items: center;

  @media only screen and (min-width: $media-desktop-s)  {
    max-width: 198px;
  }

  :global {
    .ant-progress-outer {
      margin: 0 !important;
      padding: 0 !important;
      flex: 1;
    }

    .ant-progress-text {
      width: fit-content !important;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: $color-neutral-neutral-7;
  width: 100%;
}

.rightContent {
  padding-left: 8px;
}

.rootDeprecation {
  :global {
    .ant-progress-inner {
      overflow: initial;
      background: $deprecation-bar-color;
    }

    .ant-progress-bg {
      background-color: $color-blue-geekblue-3;
    }

    .ant-progress-success-bg {
      background-color: transparent;

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 16px;
        background-color: $color-neutral-neutral-10;
        right: 0;
        top: -4px;
        border-radius: 2px;
      }
    }
  }
}