@import '~@src/assets/styles';

.terms {
  background: $color-neutral-neutral-2;
  border: 1px solid $color-neutral-neutral-5;
  border-radius: 4px;
  padding: 16px;
  width: 381px;
  color: $color-neutral-neutral-8;
  margin-bottom: 24px;
}

.field {
  width: 126px;
}

.inlineInput {
  display: flex;
  justify-content: space-between;
}

.formField {
  width: 50%;
}

.space {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}