@import '~@src/assets/styles';

.root {
  padding: 16px;
  box-shadow: 0 0 0 1px $color-neutral-neutral-4;
  color: $color-neutral-neutral-9;
}

.iconContainer, .valueContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.iconContainer {
  gap: 34px;
  justify-content: start;
}

.valueContainer {
  justify-content: space-between;
}
