@import '~@src/assets/styles';

.feeInput {
  width: 191px;
  padding-right: 31px;
}

.finisAtSelect {
  width: 160px;
}

.deadlineInputsContainer {
  display: grid;
  width: 160px;

  @media (min-width: $media-desktop-s)  {
    grid-template-columns: 175px 175px;
    align-items: end;
  }
}

.flexSection {
  display: flex;
  gap: 15px;

  & > * {
    flex-grow: 1;
    width: 100%;
  }
}
